*.pyc
/.project
/.pydevproject
/.mr.developer.cfg
/.installed.cfg
/.settings/
/buildout.cfg
/bin/
/develop-eggs/
/devsrc/
/eggs/
/include/
/lib/
/local/
/parts/
/var/
/src/bda.plone.shop.egg-info/
*.mo
.DS_Store
/vpython/
/env/
/coverage/
/report/
/dist/
/log.html
/output.xml
/report.html
/selenium-screenshot-1.png
/pip-selfcheck.json
/share/
/node_modules/
lib64
