*.egg-info
*.mo
*.pyc
.DS_Store
.mxmake/
/*-mxdev.txt
/.project
/.pydevproject
/.settings/
/.vscode/
/coverage/
/develop-eggs/
/dist/
/eggs/
/instance/
/node_modules/
/parts/
/pyvenv.cfg
/report/
/sources/
/var/
/venv/
