div.buyable {
    margin-top:0.3em;
    margin-bottom:1em;
    text-align:right;
}
div.availability {
    float:left;
    margin-top:0.2em;
    position:relative;
}
div.availability_details {
    z-index:1000;
    position:absolute;
    top:2em;
    left:0;
    text-align:left;
    background-color:#efefef;
    border:#ccc 1px solid;
    border-radius:6px;
    padding:1em;
    min-width:20em;
    display:none;
}
div.signal {
    border:#ccc 1px solid;
    border-radius:3px;
    width:16px;
    height:16px;
    display:inline-block;
}
div.signal.red {
    background-color:red;
}
div.signal.orange {
    background-color:orange;
}
div.signal.yellow {
    background-color:yellow;
}
div.signal.green {
    background-color:green;
}


div.buyable .vat_label {
    margin-left:1em;
}
div.buyable input {
    margin-left:1em;
    font-size:90%;
}

#content dl.buyable { margin-bottom: 0.5em; }
#content .buyable dt { margin-left: 1em; }
.buyable dt,
.buyable dd {
    display: inline-block;
}

a.buyable_add_to_cart:link,
a.buyable_add_to_cart:active,
a.buyable_add_to_cart:hover,
a.buyable_add_to_cart:visited,
a.buyable_update_cart:link,
a.buyable_update_cart:active,
a.buyable_update_cart:hover,
a.buyable_update_cart:visited {
    margin-left:1em;
    background-color:#75ad0a;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color:white !important;
    font-weight:bold;
    display:inline-block;
    padding:0.3em 0.75em;
    text-align:center;
    text-decoration:none;
    cursor:pointer;
}
a.buyable_add_to_cart:hover,
a.buyable_update_cart:hover {
    background-color:#eeeeee;
    color:#75ad0a !important;
}
span.buyable_add_to_cart_disabled,
span.buyable_update_cart_disabled {
    margin-left:1em;
    background-color:#eeeeee;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color:white !important;
    font-weight:bold;
    display:inline-block;
    padding:0.3em 0.75em;
    text-align:center;
    text-decoration:none;
    cursor:normal;
}

/* shop control panel */
#formfield-form-widgets-IItemNotificationTextSettings-order_text td,
#formfield-form-widgets-IItemNotificationTextSettings-overbook_text td,
#formfield-form-widgets-IPaymentTextSettings-payment_text td {
    vertical-align:top;
}
#formfield-form-widgets-IItemNotificationTextSettings-order_text select,
#formfield-form-widgets-IItemNotificationTextSettings-overbook_text select,
#formfield-form-widgets-IPaymentTextSettings-payment_text select {
    width:100%;
}
#formfield-form-widgets-IItemNotificationTextSettings-order_text .cell-1,
#formfield-form-widgets-IItemNotificationTextSettings-overbook_text .cell-1,
#formfield-form-widgets-IPaymentTextSettings-payment_text .cell-1,
#formfield-form-widgets-IPaymentTextSettings-payment_text .cell-2 {
    width:15%;
}
#formfield-form-widgets-IItemNotificationTextSettings-order_text .cell-2,
#formfield-form-widgets-IItemNotificationTextSettings-overbook_text .cell-2 {
    width:85%;
}
#formfield-form-widgets-IPaymentTextSettings-payment_text .cell-3 {
    width:70%;
}
