div.buyable {
    margin-top:0.3em;
    margin-bottom:1em;
    text-align:right;
}
div.buyable .vat_label {
    margin-left:1em;
}
div.buyable input {
    margin-left:1em;
    font-size:90%;
}
div.buyable a {
    margin-left:1em;
}
a.buyable_add_to_cart:link,
a.buyable_add_to_cart:active,
a.buyable_add_to_cart:hover,
a.buyable_add_to_cart:visited,
a.buyable_update_cart:link,
a.buyable_update_cart:active,
a.buyable_update_cart:visited,
a.buyable_update_cart:visited {
    background-color:#75ad0a;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color:white !important;
    font-weight:bold;
    display:inline-block;
    padding:0.3em 0.5em;
    text-align:center;
    text-decoration:none;
    cursor:pointer;
}