// Plone 5 Styles

// get Plone variables
@import url("https://raw.githubusercontent.com/plone/Products.CMFPlone/master/Products/CMFPlone/static/patterns/toolbar/src/css/variables.less");
@import url("https://raw.githubusercontent.com/plone/plonetheme.barceloneta/master/plonetheme/barceloneta/theme/less/variables.plone.less");

.buyable.viewlet {
    clear: both;
    margin: 1em 0 2em 0;

    dl.details {
        display: inline-block;
        dt,
        dd {
            display: inline-block;
            vertical-align: middle;
        }
        dt {
            margin-right: 0.25em;
        }
        dd {
            margin-right: 1em;
        }
    }

    div.availability {
        // display: inline-block;
        position:relative;
        vertical-align: middle;
    }
    div.availability_details {
        z-index: 1000;
        position: absolute;
        top: 2em;
        margin-left: -0.5em;
        background-color: @plone-input-bg;
        border-radius: @plone-border-radius-base;
        border: @plone-portlet-border;
        box-shadow: 0 1px 2px rgba(0,0,0,.25);
        padding: 1em;
        min-width: 14em;
        display: none;
        p {
            margin-bottom: 0;
        }
    }
    div.signal {
        vertical-align: sub;
        border: #ccc 1px solid;
        border-radius: @plone-border-radius-base;
        width: 1em;
        height: 1em;
        display: inline-block;
    }
    div.signal.red {
        background-color: red;
    }
    div.signal.orange {
        background-color: orange;
    }
    div.signal.yellow {
        background-color: yellow;
    }
    div.signal.green {
        background-color: green;
    }
    dd.price.original {
        color:#ae0000;
        text-decoration:line-through;
        padding-right:0.2em;
    }
}

.portletShopAdmin {
  .portletContent {
    ul {
      padding-top: 0.5em!important;
      padding-bottom: 1em!important;
      li {
        a {
          padding: 0.5em 1em 0em 2em!important;
          border: 0!important;
        }
      }
    }
  }
}

#formfield-form-widgets-IBuyablePeriodBehavior-buyable_effective select,
#formfield-form-widgets-IBuyablePeriodBehavior-buyable_expires select,
#formfield-form-widgets-IBuyableBehavior-item_vat select,
#formfield-form-widgets-IBuyableBehavior-item_quantity_unit select {
    display: inline-block;
    width: unset;

}

#shop_toolbar_menu .actionSeparator {
    border-top: 1px solid rgba(255, 255, 255, 0.17);
}

#shop_toolbar_menu .actionSeparator > span {
    color: #ccc;
    font-weight: 400;
}
